@model IEnumerable<VanilaBakery.Models.LOAI>
<aside class="ps-widget ps-widget--sidebar ps-widget--tags">
    <div class="ps-widget__header">
        <h3 class="ps-widget__title">TAGS</h3>
    </div>
    <div class="ps-widget__content">
        <ul class="ps-tags">
            @foreach(var tg in Model)
            { 
            <li><a href="@Url.Action("SPTheoLoai","VanilaBakery",new { id=tg.MaLoai })">@tg.LoaiBanh</a></li>
            }
        </ul>
    </div>
</aside>