@model IEnumerable<VanilaBakery.Models.ThuVienAnh>
@{
    ViewBag.Title = "Thư Viện Ảnh";
    Layout = "~/Views/Shared/_LayoutUser1.cshtml";
}
<div class="page-content portfolio-content container">
    <div class="row">
        <div class="main col-xs-12" role="main">
            <div id="gallery-container">
                <div class="row isotope">
                    @foreach(var item in Model)
                    { 
                    <div class="gallery-item isotope-item cupcakes ice-cream col-md-4 col-xs-6">
                        <article>
                            <div class="overlay">
                                <div class="content">
                                    <h3 class="title"><a href="#">@item.TenAnh</a></h3>
                                    <div class="wrapper">
                                        <div class="middle-line"></div>
                                        <a data-imagelightbox="lightbox" class="zoom" href="~/images/cake/@item.UrlHinh"><i class="fa fa-search"></i></a>
                                        
                                    </div>
                                </div>
                            </div>
                            
                            <img src="~/images/cake/@item.UrlHinh" class="img-responsive wp-post-image" alt="potfolio-item-7" />
                        </article>
                    </div>
                    }
                </div>
            </div>
    </div>
</div>

