<div>
    <div class="btn-group ps-dropdown">
        <a href="@Url.Action("DangKy","Nguoidung")" aria-haspopup="true" aria-expanded="false">Đăng ký<i></i></a>
        <ul class="dropdown-menu"></ul>
    </div>
    <div class="btn-group ps-dropdown">
        <a href="@Url.Action("DangNhap","Nguoidung")" aria-haspopup="true" aria-expanded="false">Đăng nhập<i></i></a>
        <ul class="dropdown-menu"></ul>
    </div>
</div>
