
@{
    ViewBag.Title = "Xác Nhận Đơn Hàng";
    Layout = "~/Views/Shared/_LayoutUser1.cshtml";
}

<div class="alert alert-success">
    <strong>Đơn hàng của quý khách đã được chúng tôi ghi nhận.</strong> Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng đúng hẹn.
</div> 
<button type="button" class="btn btn-info">@Html.ActionLink("VỀ TRANG CHỦ", "Index", "VanilaBakery") </button>
